@font-face {
    font-family: "GmarketSans";
    src: url("../font/GmarketSansBold.otf") format("opentype");
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: "GmarketSans";
    src: url("../font/GmarketSansLight.otf") format("opentype");
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: "GmarketSans";
    src: url("../font/GmarketSansMedium.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}
/*@font-face {*/
/*    font-family: "GmarketSansBold";*/
/*    src: url("../font/GmarketSansBold.otf") format("truetype");*/
/*    font-weight: normal;*/
/*    font-style: normal;*/
/*}*/
/*@font-face {*/
/*    font-family: "GmarketSansMedium";*/
/*    src: url("../font/GmarketSansMedium.otf") format("truetype");*/
/*    font-weight: normal;*/
/*    font-style: normal;*/
/*}*/

