* {
    /*border: 1px solid blue;*/
    /*font-family: PingFangSC-Medium, PingFang SC;*/
}
/*body{*/
/*抗锯齿渲染*/
/*    -webkit-font-smoothing: antialiased;*/
/*}*/

>>> .v-sheet.v-app-bar.v-toolbar:not(.v-sheet--outlined) {
    box-shadow: 0 0 0 0 !important;
}

.hotCardName {
    border-left: 5px solid #CC9933 !important;
}

.btnBorder {
    background-color: white !important;
    border: 1px solid #CC9933;
}

.cardBackground {
    background-color: #F6F5F3;
}

.selfAction {
    background-color: #FBFBFB;
}

.v-text-field input {
    font-size: 16px;
}

.tab {
    width: 40px !important;
    height: 28px !important;
    font-size: 20px !important;
    font-family: PingFangSC-Semibold, PingFang SC;
    font-weight: 600 !important;
    color: #050505 !important;
    line-height: 28px !important;
}

.cellection {
    border: 1px solid #CC9933;
}

.v-btn.v-size--default {
    font-size: 16px !important;
}

.theme--light.v-btn.v-btn--disabled {
    color: #FFFFFF !important;
    background: linear-gradient(180deg, #727272, #727272 100%) !important;
}

.list::-webkit-scrollbar {
    display: none;
}

.borderRadius {
    border-radius: 4px;
}

.errorColor, .errorText {
    color: #e02020;
}

.theme--light.v-pagination .v-pagination__item {
    background-color: rgba(0, 0, 0, 0.5);
}

.theme--light.v-pagination .v-pagination__navigation {
    background-color: rgba(0, 0, 0, 0.5);
}

.v-pagination__item {
    box-shadow: 0px 0px 0px;
}

.theme--light.v-pagination {
    box-shadow: 0px 0px 0px;
}

.v-pagination__navigation {
    box-shadow: 0px 0px 0px;
}

.v-btn__content {
    /*font-size: 20px;*/
}
